
DATABASE_HOST=
DATABASE_PORT=5432
DATABASE_NAME=
DATABASE_USER=
DATABASE_PASSWORD=


GROQ_API_KEY=your_api_key

#frontend
APP_HOST=localhost
APP_PORT=5173

#backend
APP_HOST=127.0.0.1
APP_PORT=8000

DEBUG=True